footer
  a.logo(href="#")
    i.ri-home-heart-line
    |  Medicine
  .container
    .box-logo
        h3 Liên hệ với chúng tôi
        a(href="")
            i.fa-brands.ri-facebook-circle-fill
        a(href="")
            i.fa-brands.ri-tiktok-line
        a(href="")
            i.fa-brands.ri-youtube-fill
        a(href="")
            i.fa-brands.ri-instagram-line

    .box
        h3 Hỗ trợ khách hàng
        a(href="")
            i.fas.fa-phone
            | 1800 1234
        a(href="")
            i.fas.fa-envelope
            | cskh@gmail.com
        a(href="") Chính sách khiếu nại
        a(href="") Chính sách vận chuyển vào giao nhận
        a(href="") Chính sách đổi trả và hoàn tiền

    .box
        h3 Danh mục sản phẩm
        a(href="") Chăm sóc sắc đẹp
        a(href="") Chăm sóc cá nhân
        a(href="") Thuốc
        a(href="") Hóa chất và dược liệu
        a(href="") Tin tức