.slider
  .container
    .wrapper
      .myslider.swiper
        .swiper-wrapper
          .swiper-slide
            .item
              .image.object-cover
                img(src="/images/banner-1.png", alt="1")
              .text-content.flexcol
                h4 Medicine
                h2
                  span Chăm sóc sức khỏe mọi lúc mọi nơi 
                a.primarybutton(href="") Đến shop
          .swiper-slide
            .item
              .image.object-cover
                img(src="/images/banner-2.png", alt="2")
              .text-content.flexcol
                h4 Medicine
                h2
                  span Chăm sóc sức khỏe mọi lúc mọi nơi 
                a.primarybutton("") Đến shop
        .swiper-pagination