extends ../../layouts/default.pug 
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug 
include ../../mixins/pagination.pug
include ../../mixins/sort.pug

block main
  .container.my-3
    if(products.length == 0)
      +box-head("Không có sản phẩm này")
    else
      .row 
        .col-12
          +box-head("Kết quả tìm kiếm")
      .row 
        .col-2
          +sort()
      +product-grid(products)
      +pagination(pagination)
  

